[2018-02-08 22:05] bryankim96 opened #2 "Move open_file and close_file calls outside load_data functions"
If Dataset.from_generator is changed to support multi-threading like Dataset.map, calls to open HDF5 files should preferably be moved outside of the load_data functions. i.e. all HDF5 files should be opened in advance and the file handles passed into the load_data functions instead of filename strings. This avoids a lot of unnecessary open and close files calls.

On a test of loading 1000 examples

[2018-02-08 22:09] bryankim96 opened #3 "Implement loading variables from single tel checkpoints to array-level models."
See https://www.tensorflow.org/api_docs/python/tf/contrib/framework/init_from_checkpoint.

[2018-02-08 22:58] bryankim96 opened #4 "Implementing CNNBlock Class"
Implement CNNBlock class to define a standard interface for all CNN blocks.

[2018-02-08 23:01] bryankim96 opened #5 "Support for channels-first mode"
See https://www.tensorflow.org/performance/performance_guide#data_formats for explanation.

[2018-02-08 23:19] bryankim96 opened #6 "Change gen_fn_HDF5 and load_data functions so they don't return/require a bytestring filename."
Previous versions of TF have required that string tensors produced and modified using Datasets, map, and pyfunc be converted to bytestrings (no automatic conversion of Python strings). It is unclear if this issue is fixed in Tensorflow 1.5.1, but if so, should be changed to use Python strings rather than bytestrings.

[2018-02-08 23:59] bryankim96 opened #7 "Implement Single Telescope training capability"
Currently the approach used for training single tel models is to attach a logits layer directly to an array-model CNN-block. It may be worthwhile to implement a way to train arbitrary single tel models without this restriction.

[2018-02-09 00:49] aribrill opened #8 "Rewrite MobileNet implementation"
The current MobileNet code has a dependency on Tensorflow slim, with the implication that the train op must be implemented in slim as well. Rewrite it using the standard layers API.

[2018-02-09 21:40] aribrill commented on #2
Closed with commit 8d51872b7ba7a43496786d6046abc4ce14c88a1a

[2018-02-09 21:40] #2 closed

[2018-02-16 15:16] aribrill opened #9 "Add mapping tables for all telescope types"
At present the only mapping table in image.py from vectors of pixels to the image shape is for the SCT (MSTS). In order to process data for other telescope types, mapping tables for other telescope types must be added. It would make sense to start with square-pixel telescopes, as there isn't yet a standard method for converting hexagonal pixels to a square grid.

[2018-02-16 15:26] aribrill opened #10 "Make mapping tables configurable"
At present, the mapping tables from pixel vectors to camera shapes are fixed. The following configuration options may be added:
- Additional padding around the camera image (default: none). This could be useful for matching a shower image to the fixed size expected by a model if resizing is not preferred, or for constraining images from different cameras to have the same shape. This applies to all

[2018-02-16 15:54] aribrill opened #11 "Allow array-level models to handle additional auxiliary info"
In the current implementation of combine_telescopes in the variable input model, the only possible auxiliary info are the telescope positions and telescope triggers. Because cropping is now an option, the shower centroid (x, y) should be provided as additional auxiliary info to the model knows where in the camera the shower was detected.

One implementation to cleanly allow this is to rename the t

[2018-04-16 15:25] mavillan opened #12 "Reproducibility"
Hi,

I'm trying to run your models and reproduce your results, but it wasn't possible because there aren't example datasets in your repository.

Can you provide links where we can download some simtel or hdf5 files you use to train the models?

Greetings,
-- mavillan

[2018-04-17 14:32] aribrill commented on #12
Thanks for your interest! Please follow the link in the [readme](https://github.com/bryankim96/ctalearn#configuration) to the CTA Machine Learning wiki page for instructions to download the internal CTA MLProto dataset used to produce our results.

Ari

[2018-04-17 14:32] #12 closed

[2018-04-19 20:34] bryankim96 commented on #3
Implemented with config option pretrained_weights.

[2018-04-19 20:34] #3 closed

[2018-04-23 10:22] nietootein opened #13 "Minimize dependencies in virtual environment"
We should filter out from requirements.txt all those dependencies that are not actually necessary for ctalearn to properly run, so the installation is lighter and faster. Some users have requested instructions for a clean uninstall that will remove not just the virtual environment but also the packages that were downloaded to set it up (without conflicting with other environments).

[2018-05-17 06:09] aribrill commented on #4
No longer necessary, as models are user-defined as of v0.1.3.

[2018-05-17 06:09] #4 closed

[2018-05-17 06:54] aribrill commented on #7
As of v0.1.2, models are defined by the user, so it is now possible to train arbitrary single telescope models.

[2018-05-17 06:54] #7 closed

[2018-05-17 06:56] aribrill commented on #8
As of v0.1.2, models are now defined by the user, who is free to write their own implementation, so this rewrite is no longer necessary. The existing MobileNet implementation is now deprecated and may be removed.

[2018-05-17 06:56] #8 closed

[2018-05-17 07:01] aribrill commented on #11
Implemented in ada9cd03f325deda12dc67a2d4c11d3f59adcfbc

[2018-05-17 07:01] #11 closed

[2018-05-18 01:38] aribrill commented on #13
The only actual direct requirements are those listed under "Dependencies" in the Readme. In addition, there is an optional requirement, PIL, which is used only in the script visualize_bounding_boxes.py and is not needed for standard functionality.

[2018-05-18 02:32] aribrill opened #14 "Split data.py into data loading and data processing modules"
Currently, data.py combines the functionality of data loading specific to our HDF5 file format with data processing which is independent of the data format. Split it into into two separate files, load_HDF5_data.py and process_data.py, where load_HDF5_data.py includes all functionality specific to loading numpy arrays of data from the HDF5 files and process_data.py includes all functionality of dat

[2018-05-18 02:55] aribrill opened #15 "Refactor data loading"
Refactor load_HDF5_data.py to have a data loader class parses settings and has methods to return numpy arrays of data, instead of a set of free-floating functions that must be called in an undocumented order. Instead of being stored in separate external dictionaries, the metadata, auxiliary data, and processed parameters should be stored internally in the class. The class should have a legible sto

[2018-05-18 03:01] aribrill opened #16 "Refactor data processing"
Refactor process_data.py to have a data processor class for data manipulation and augmentation with methods that accept numpy arrays of unprocessed data and return numpy arrays of processed and/or augmented data. The implementation should be generic with no dependencies on other ctalearn modules.

A suggested API is as follows:

class data_processor(data_processing_settings)
The data_processing_se

[2018-05-18 03:18] aribrill opened #17 "Make train.py compatible with the data_loader and data_processor classes"
Split data_processing_settings into data_loading_settings and data_processing_settings. There should be four dictionaries of data-related settings:
data_input_settings: for TensorFlow Estimator input_fn
data_loading_settings: for loading HDF5 data (methods directly implemented in load_HDF5_data.py)
Includes validation_split, min_num_tels and cut_condition, use_telescope_position, chosen_telescope_

[2018-05-18 03:19] aribrill opened #18 "Correct telescope sorting options"
Make the sort_telescopes_by_trigger option do what it says, and include the current functionality as a separate option sort_telescopes_by_size.

[2018-05-18 03:21] aribrill opened #19 "Make visualize_bounding_boxes.py use the HDF5_data_loader class"
Depends on #15.

[2018-05-18 04:15] aribrill opened #20 "Refactor image.py to use a class"
To reduce ambiguity, rename the module to image_mapping.py.

A suggested API is as follows:

class image_mapper(image_mapping_settings)
Argument: dictionary of settings. Right now there isn't anything relevant implemented. See #10 for more details on what the settings should be.

image_mapper.map_image(pixels, telescope_type)
Arguments: pixels is a numpy array of values for each pixel, in order of

[2018-05-18 04:17] aribrill opened #21 "Make data loading use image_mapper class"
Depends on #20.

[2018-05-18 04:31] aribrill opened #22 "Merge predict.py into train.py"
Combine the functionality of predict.py into train.py. Prediction will be toggled on as a mode train.py --predict. In the current implementation, there is a very large amount of duplicated code that is changed often, which is an unsustainable situation. While the script train.py being used for prediction is a slight misnomer, ignore this for now. Add a [Predict] section to the config file includin

[2018-05-18 04:39] aribrill opened #23 "Specify prediction output format"
Specify the predict output format and make predict.py able to both return and write to file data in that format. A suggested format is a list of filenames and a numpy array of file_index, event_index, predictions, classifier values, where file_index is the index in the list of filenames and event_index corresponds to index in the event table for event classification and index in the a telescope ta

[2018-05-18 04:40] aribrill opened #24 "Make plot_classifier_value.py and plot_roc_curves.py compatible with predict output"
Depends on #23.

[2018-05-18 04:52] aribrill opened #25 "Clean up repository"
Ensure that the Readme is up to date with all the changes for v0.2.0. Update the version number in setup.py.

Create a directory called deprecated in the models directory and move all the unused models there. The unused models are all but cnn_rnn.py, single_tel.py, and variable_input model.py. The deprecated models will be removed in the next release if not used by then.

Remove the unnecessary ct

[2018-05-18 05:04] aribrill opened #26 "Add config files and optional graphs for important results"
Add config files for any results that we use as benchmarks or have shown in presentations. This will aid in archiving and reproducing the results. We should show benchmarks for the newest version of ctalearn, so we can rerun a single telescope network when the other updates have been made and use that as the new benchmark. We should also include the config files for the CNN_RNN results that have b

[2018-05-18 05:11] aribrill opened #27 "Fix or remove test_metadata.py"
The use case of the script script test_metadata.py is unclear and needs to be clearly defined.

Assuming it's worth keeping, several problems need to be fixed. As written, sections are missing and it doesn't run. There is a hardcoded path on line 26 that needs to be removed. The name "test_metadata" is ambiguous and the script should be renamed to remove the word "test". It also should be updated

[2018-05-18 05:17] aribrill opened #28 "Make variable_input_model.py compatible with model importing"

[2018-05-28 18:14] aribrill commented on #22
Resolved by 9842660d4293a485652ccfe48725fda3d5be9e33.

[2018-05-28 18:14] #22 closed

[2018-06-04 19:13] nietootein opened #30 "Add time channel to images"
This is a request for a new feature.

So far only single-channel images, where that channel contains the image charge, are loaded and passed to the networks. The arrival time of such a charge is also available for most telescope types (except for ASTRI) and actually stored in the DL1 h5 files. These arrival times have being used in the past to help "cleaning" the charge image, since the arrival ti

[2018-06-04 19:18] nietootein opened #31 "Add removal instructions"
Some users expressed some concerns that the recommended installation procedure took up quite a bit of space in their disks and that some instructions dealing with the removal of ctalearn and the cleaning of the all the dependencies that were installed altogether with ctalearn would be appreciated.

[2018-06-12 04:06] qi-feng commented on #21
Initial commit made to rework-data-input branch, image_mapping.py and test_image_mapper.ipynb

[2018-06-20 18:33] aribrill commented on #28
Closed by 867a26a2bb8a20ee54b3df8da4670a854f0f5884

[2018-06-20 18:33] #28 closed

[2018-06-26 14:18] nietootein commented on #13
Hi all,

It turns out that pip does not feature a dependency resolver. If we want to keep supporting the installation of CTALearn via pip (i.e. without using conda) we have to keep a long list of dependencies, and likely pinned ones. I've been figuring out the minimal set of dependencies in our dependencies.txt if CTALearn is installed via the recommended way (w/ Anaconda, into a virtual environme

[2018-06-26 14:28] nietootein commented on #13
Related to #31.

[2018-06-26 18:10] aribrill commented on #13
I think installation via Anaconda with only the direct required packages listed in the requirements file is a good approach. It should certainly make uninstallation easier. We could add to the list of dependencies PIL, which is an optional dependency only for visualize_bounding_boxes.py as mentioned above. I think that since ctapipe is installed through Anaconda (at least for the user/non-developm

[2018-07-04 00:28] #14 closed

[2018-07-04 00:28] #15 closed

[2018-07-04 00:28] #16 closed

[2018-07-04 00:28] #18 closed

[2018-07-05 16:28] nietootein commented on #13
Done. I've tested the installation (both CPU and GPU flavors) on a linux-x64 system and on a osx-64 system (CPU flavor only, for a lack of GPU on that system). I also updated the installation instructions accordingly (and removed the section dealing with the installation w/ pip) as well as added a few words on how to remove the package and dependencies from your system. I guess this issue and #31

[2018-07-05 16:28] #13 closed

[2018-07-05 16:29] nietootein commented on #31
Done.

[2018-07-05 16:29] #31 closed

[2018-07-06 19:44] qi-feng commented on #9
@bryankim96
I see that in this commit you made changes to generate_table_generic(); in line 392 in the current master branch, you have
output_dim = self.image_shapes[tel_type][0]
I had separate dimensions for width and length just in case we want output a rectangular array in the future. Is this something that we'd like to have it capable of?

https://github.com/bryankim96/ctalearn/commits/cbb7b0c

[2018-07-06 20:10] qi-feng commented on #9
This issue can now be closed after push 5c866ef5b6ca056f9673c82ada79586873236ecc

[2018-07-06 20:10] #9 closed

[2018-07-06 20:11] #20 closed

[2018-07-06 20:11] #21 closed

[2018-07-06 22:38] aribrill commented on #17
Closed by #29

[2018-07-06 22:38] #17 closed

[2018-07-09 19:31] aribrill opened #32 "Fix bug with DataLoader metadata"
The following code fails with a KeyError:

[code]

[2018-07-10 00:23] aribrill opened #33 "Make package compatible with ConfigObj"
Example configuration files are currently being stored in two locations, ctalearn/config and ctalearn/ctalearn/config. Determine which location is better and merge the two directories.

The script train_configurations.py for automating hyperparameter searches relies heavily on the ConfigParser file format. Update it to match the new configuration file format.

As currently written, run_models.py r

[2018-07-10 00:27] aribrill opened #34 "Add missing requirements"
Add the following missing requirements to the requirements files: scipy, configobj, validate.

[2018-07-10 16:00] nietootein commented on #34
Added. Installation validated on a linux-x64 system (both CPU and GPU flavors) and on a osx-64 system (CPU flavor only).

[2018-07-10 16:00] #34 closed

[2018-07-12 00:59] aribrill commented on #23
Closed by 68036044ac226af8b06ffc686f2d868295953e56.

[2018-07-12 00:59] #23 closed

[2018-07-12 14:05] #24 closed

[2018-07-13 08:59] bryankim96 commented on #32
Fixed in f20f19ca0106b79324e7bada4772669c6086bffe.

[2018-07-13 08:59] #32 closed

[2018-07-13 09:00] bryankim96 commented on #25
All complete except README + documentation + updating version number + package name.

[2018-07-13 09:01] bryankim96 commented on #19
Completed in aabbfd7ac98c1b108ce40ea4eb441186fda134ae.

[2018-07-13 09:01] #19 closed

[2018-07-13 09:01] bryankim96 commented on #27
Completed in 95026d616f1086668e2027bc5531fa997cee9aa6.

[2018-07-13 09:01] #27 closed

[2018-07-13 11:44] nietootein opened #35 "Append CTLearn version to the copy of the configuration file generated for each training"
In order to ensure the reproducibility of each training run a copy of the parsed config file is stored along with the rest of training outputs. Ideally, such reproducibility should not depend on the version of the code that was used for training, although this dependency might be present during the pre-release development phase. Therefore, appending the code version to the copy of the configuratio

[2018-07-13 18:57] bryankim96 commented on #6
No longer needed due to switch to Dataset.from_generator().

[2018-07-13 18:57] #6 closed

[2018-07-13 23:54] bryankim96 commented on #10
Completed in eddf4e41b4c2d97db041c6cefc8c5e74422abd4a.

[2018-07-13 23:54] #10 closed

[2018-07-14 00:04] bryankim96 opened #36 "Replace ConfigObj config file format with YAML"
train_configurations.py script must be rewritten to use YAML-formatted config file. Example config file needs to be re-written. Any relevant value-checking/exceptions must be added. Loading/reading config in run_model.py must also be refactored. Variable input model must be updated to match new configuration option names.

The standard pattern for loading configuration options is as follows: The s

[2018-07-14 00:07] bryankim96 commented on #33
All changes except updating variable_input_model are implemented. The rest of the changes in this issue are no longer required with the changes pending for #36 .

[2018-07-14 00:07] #33 closed

[2018-07-16 14:05] aribrill commented on #36
The Basic, CNN-RNN, and Single Tel models must be updated to use any new configuration names as well.

[2018-07-17 08:45] #36 closed

[2018-07-17 09:01] bryankim96 opened #38 "Add Unit Tests"
Although other priorities (reorganizing the code, implementing new functionality, and making the project accessible and available for outside use) have been our primary focus so far, as the codebase becomes larger and we consider the possibility of outside contributions it seems like a good idea to begin looking seriously at implementing tests for maintaining and monitoring the code quality.

The

[2018-07-17 09:04] bryankim96 commented on #25
Version number and package name updated in 0499e78f4d9215fd70ccf68773a1521bc54da1f6 and b1cad378d96671a5c1af32fe7c4b140e3f5b7644.

[2018-07-17 13:04] aribrill commented on #38
As a first step, the Travis CI, Coveralls, and Landscape badges in the Readme seem to have been broken by moving the repo. I'm not sure why, maybe the owner needs to be changed to ctlearn-project? @bryankim96 could you look into this?

[2018-07-17 23:56] aribrill opened #39 "Telescope IDs are not unique, causing critical error"
The current design of DataLoader relies on the tel_id parameter as a unique key to index the telescopes, making checks that each tel_id corresponds to a telescope of the correct type. However, this assumption is invalid. The telescope IDs in the MLProto dataset are not unique. The conflict is with SST1. IDs 1-4 are used by both SST1 and LST; 5-29 by SST1 and MSTF; and 30-33 by SST1 and MSTN.

For

[2018-07-18 13:52] aribrill commented on #39
I'll work on this now in the interest of time. The solution I will take is to use (tel_type, tel_id) tuples as unique identifiers when needed in HDF5DataLoader. This problem also impacts the assignment of tel_ids to telescope indices in the event table, so I will fix that as well.

However, we should have a future discussion about whether this is the correct behavior expected from the ImageExtract

[2018-07-18 15:55] aribrill commented on #39
Closed by 4b5e8905ba59b5af321beef3fda2fbd208f93c81.

[2018-07-18 17:55] bryankim96 commented on #39
Thanks Ari, sorry I couldn't get to it sooner. If this is solely an issue with the SST1, I also wonder if it is intentional or a bug. It seems like if it was intentional they would have made the SST1 tel ids only overlap with other SSTs, not all different types of telescope.

[2018-07-18 19:14] bryankim96 commented on #38
The badges should now be working. However, I have noticed it often takes quite some time for the initial check to be completed. So, it could be a little while before some of the badges begin showing up-to-date information.

[2018-07-19 01:07] bryankim96 commented on #39
I see, good catch. I think we probsbly decided to use 1 byte based on the expected total number of telescopes in the array (LST, MST, SST) without considering the additional count due to the number of types. It is unfortunate that we will have to add logic for this special case when it is clearly not intended. I wonder if it would be possible to instead reprocess the files with a simple pytables p

[2018-07-19 01:16] aribrill commented on #39
The permanent solution is definitely to fix it in the next processing of the dataset. Since the ProtoML dataset has already been made available, though, I suppose it's too late to change that. For now, maybe the simplest thing to do is to add 255 to the tel_id for SST1s if the tel_id is less than 220. This would then make it unnecessary to use tel_type as an additional index, so we could actually

[2018-07-19 01:22] bryankim96 commented on #39
That sounds like the cleanest solution on our side. As far as the dataset goes, I feel like it might not be unreasonable to revise the dataset and reupload/update the wiki page, even though ProtoML was technically "officially released". I suspect no one (or few enough people) have downloaded it so far, so a revision might not be very disruptive (especially if it reduces later confusion by people w

[2018-07-19 01:24] aribrill opened #40 "Add option to list data files directly in configuration file"
Since YAML provides a convenient way to include lists directly in the config file, allow Data:file_list to accept either a path to a file containing file paths (the current method) or a list of file paths written directly in the config file.

[2018-07-19 01:38] aribrill opened #41 "Clean up input_fn in run_model.py"
Use dictionary unpacking to pass in settings instead of passing the dictionary directly. This will provide a convenient way to provide default arguments, making it easier to have optional data input settings. At least one options that is currently configurable should be hardcoded, that is whether to use dataset.map() - this is already constrained by the choice of data format. Also, investigate whe

[2018-07-19 01:50] aribrill opened #42 "Improve configurability of training hyperparameters"
At present, most of the training hyperparameters are required config options. Make these optional, providing reasonable defaults.

Add the ability to choose any optimizer available in TensorFlow (or at least all the commonly used ones), as well as the ability to configure their parameters. Since there are a variety of optimizers and they all take different arguments, this could be accomplished by

[2018-07-19 02:16] aribrill opened #43 "Make the Model model_directory point to ctlearn/models by default"
Make this setting optional, with the default pointing to the ctlearn/models directory wherever CTLearn is installed. This can be done in a similar way to f4a420f and ffcfda8. This simplifies using default models and makes one less thing that the user has to change to replicate results using provided config files.

[2018-07-19 02:21] aribrill opened #44 "Add iPython notebook demonstrating loading data with CTLearn"
Demonstrate the DataLoader API and how it can be used with the HDF5 format. Perhaps calculate class balance and multiplicity distribution for each telescope type. The print_dataset_metadata.py script could be integrated into this.

[2018-07-19 02:25] aribrill opened #45 "Add default thresholds for two level cleaning for all telescope types"
This will allow reasonable cropping in DataProcessor by default with telescopes other than MSTS. The visualize_bounding_boxes.py script can be used to manually determine reasonable thresholds.

[2018-07-19 02:40] aribrill opened #46 "Define API for accessing DataLoader class attributes"
All HDF5DataLoader class attributes are currently specific to that class as opposed to DataLoader, but are accessed outside the class in run_model.py.

When defining data_loader, `generator_output_dtypes`, `map_fn_output_dtypes`, `output_names`, and `output_is_label` are all accessed. It doesn't seem these are specific to the data format, so if they are made part of the DataLoader base class, then

[2018-07-19 16:45] aribrill commented on #39
I've inserted the temporary fix mentioned above and restored using tel_id as the unique telescope index, keeping the other ancillary fixes and simplifications made to DataLoader.

[2018-07-19 16:45] #39 closed

[2018-07-26 02:13] aribrill commented on #25
The Readme is now up to date with CTLearn v0.2.0.

[2018-07-26 02:13] #25 closed

[2018-07-26 02:18] aribrill commented on #38
Travis CI is now working, but I could not get Coveralls or Landscape to sync properly. I've removed them for now. I also tried installing Codecov to replace Coveralls but have removed it for now too since this is better handled after the v0.2.0 release. While it looks like Landscape provides useful and interesting code quality feedback, I found it extremely buggy and poorly documented.

[2018-08-09 17:42] aribrill commented on #26
Closed by de6b6b0d74a7f46ae0d394c0de4998795edc2804

[2018-08-09 17:42] #26 closed

[2018-08-10 20:24] aribrill opened #47 "Deep copy nested dicts in run_multiple_configurations.py run combinations file"
Dictionary config arguments in the run combinations file outputted by run_multiple_configurations.py are sometimes not deep copied, with references appearing instead of the actual configuration parameter. For example, this occurs in the layers parameter recorded in run_combinations.py created when running the v0.2.0 benchmark config (snippet below). This issue doesn't seem to affect performance, j

[2018-08-10 20:41] aribrill opened #48 "Fix logging of array examples by class"
When running an array-level model `HDF5DataLoader.log_class_breakdown()` incorrectly reports the number of examples by class. For example, from the logfiles produced when running the LST single tel and CNN-RNN v0.2.0 benchmarks, single tel has the correct behavior:
[code]

but for the array-level model, CNN-RNN, the total number of examples and examples by class are much larger than the actual num

[2018-08-13 10:13] Jsevillamol opened #49 "Troubleshooting the "Run a Model" section of the readme"
I am trying to run a sample model with the `example_config.yml` provided in the repo.

With a terminal opened in the root directory of the repo (/ctlearn), I ran the following two commands:
[code]

This produces the following error:

[code]

But the `cnn_rnn.py` file is in its proper folder (`ctlearn/models`).

What am I doing wrong?

I am using Python 3.6 on Ubuntu 16.04, with Tensorflow-gpu 1.10

[2018-08-13 10:58] Jsevillamol commented on #49
That was it! Looking forward to accessing some data so I can actually try these models for real.

[2018-08-17 10:49] Jsevillamol commented on #49
Further problems:

1. When I try running `python $CTLEARN_DIR/run_model.py myconfig.yml` I get `ModuleNotFoundError: No module named 'ctlearn'`. Somehow the module ctlearn is not properly recognized.

2. When I try running a script such as this one (as suggested in the readme):

[code]
I get an error because the yaml file is not properly loaded. This can be fixed like this:

[code]

3. However, wh

[2018-08-18 09:42] Jsevillamol commented on #49
@aribrill thanks to you!

1. Turns out I had forgotten to run `pip install --upgrade .`. After running this the invocation from the command line works!
2. :+1:
3. I wrote a typo on the model path. Ooops!

I think it is working now, though it is hard to say because running `python $CTLEARN_DIR/run_model.py my_config/example_config.yml` does not seem to produce any message on the console :stuck_out_

[2018-08-19 07:52] #49 closed

[2018-08-22 10:22] Jsevillamol opened #50 "Interpreting output of training"
I have run one of the benchmark configurations (concretely `config/v_0_2_0_benchmarks/LST_cnn_rnn_config.yml`) on training mode.

The beginning of the `logfile.log` produced is as follows:

[code]

This prompts me the following questions:

1. I would have assumed that the `Total number of examples` was the summation of training and validation events, but it is not. What does it represent then? In

[2018-08-22 12:07] Jsevillamol opened #51 "Reproduction of benchmark 0.2.0 results"
I have reproduced the benchmark 0.2.0 results in the UCM server (unsure of the NVIDIA GPU model @nietootein ?).

|  Input | Telescope Type | Train Events | Val Events | Train steps | Batch size | Train time |   Val Acc  | Val Gamma Acc | Val Proton Acc |   Val AUC  |
|:------:|:--------------:|:------------:|:----------:|:-----------:|:----------:|:----------:|:----------:|:-------------:|:-------

[2018-08-22 22:29] aribrill commented on #50
ining and validation events.

This is a bug, the logger output for array-level models is incorrect. See #48.

Duly noted.

You can view all of the metrics and plots, and the training time, using Tensorboard, which reads from the saved output files. You can view the progress in real time or after the run is finished. See [here](https://github.com/ctlearn-project/ctlearn#run-a-model) for instruction

[2018-08-25 07:58] #50 closed

[2018-09-05 21:22] Jsevillamol opened #52 "DivisionByZeroError in `apply_cuts` during `HDF5DataLoader` initialization"
Configuration file of the run:
[20180905_231431_config.txt](https://github.com/ctlearn-project/ctlearn/files/2354601/20180905_231431_config.txt)

(it's actually a `.yml` file, but I had to change the extension to upload it)

List of example files used (they are part of the benchmark):
[sample_files.txt](https://github.com/ctlearn-project/ctlearn/files/2354604/sample_files.txt)

Traceback:
[code]

[2018-09-05 21:32] Jsevillamol commented on #52
Oh duh, its because none of the examples pass the filter

[2018-09-05 21:38] Jsevillamol commented on #52
NVM, I have tried changing the `cut_condition` in the configuration to `(mc_energy > 0.0)` (which I assume it is a trivial condition to pass) and the problem persists.

[2018-09-06 14:56] #52 closed

[2018-09-06 14:59] aribrill commented on #52
The bug seems to have been due to unnecessarily converting the iterator over rows in the table into a list, which exhausted the iterator. I've fixed that line and the example code runs now. In the above example, you can call `print(data_loader.passing_num_examples_by_particle_id)` to confirm the number of events passing the cuts matches the expected number.

[2018-09-06 17:53] #30 closed

[2018-09-12 18:25] Jsevillamol opened #53 "Benchmark in peak_times channel mode"
| input_type | tel_type | auroc      |
|------------|----------|------------|
| array      | LST      | 0.8286985  |
| array      | MSTF     | 0.89471704 |
| array      | MSTN     | 0.9177482  |
| array      | MSTS     | 0.91144246 |
| array      | SST1     | 0.8937345  |
| array      | SSTA     | 0.86309916 |
| array      | SSTC     | 0.90838027 |
| single_tel | LST      | 0.7877764  |
| single_t

[2018-09-13 20:30] aribrill commented on #53
Do these results correspond to the analysis with the peak times channel enabled or disabled? They seem consistent with the charges only results.

[2018-09-20 18:46] aribrill opened #54 "Load data from multiple telescope types simultaneously"
In DataLoader, change the option for selected tel type into a list of selected tel types. DataLoader._select_telescopes() would accept this list instead of a single selected tel type. For array examples, the output would contain have a separate array for the data for each specified tel type.

[2018-09-20 19:00] aribrill opened #55 "Use auxiliary input in CNN-RNN model"
Process auxiliary input such as the telescope position coordinates or indicator of telescope type and use it in the CNN RNN model. It may be beneficial to include an intermediate fully connected layer to obtain a representation of the auxiliary input instead of the raw values. The auxiliary input could be included as an additional filter at the initial or later layers of the CNN and/or appended to

[2018-09-20 19:22] aribrill opened #56 "Add options for additional image resampling methods in ImageMapper"
To work with standard convolutions, hexagonal camera images must be resampled into a square grid. Currently, oversampling is implemented, but other methods have been found to give better performance. A study of different methods can be found [here](https://arxiv.org/abs/1711.06298). In rough order of priority, methods to add could include:

- [x] Rebinning (good performance, fast)
- [x] Nearest in

[2018-09-20 21:04] aribrill opened #57 "Load and process metadata better in DataLoader"
DataLoader should load and return metadata better in several ways.

1. `DataLoader._load_metadata()` is long, complex, and poorly commented. Refactor it into smaller methods that each perform a particular task.
2. Remove the expensive step of calculating the image mins and maxes when normalization isn't being used. To do so, remove the `DataLoader.add_data_processor()` method and enforce the DataP

[2018-09-20 21:19] aribrill opened #58 "Calculate signal efficiency in training and prediction"
Signal efficiency (gamma efficiency / sqrt(proton efficiency)) is a useful metric for gamma/hadron classification. In run_model.py, add a custom metric to display this quantity for the validation set with Tensorboard for each of a configurable set of classification thresholds. Also add a script to plot signal efficiency vs. classification threshold given a prediction output file. Note that efficie

[2018-09-20 21:41] aribrill opened #59 "Use standard ctapipe camera names"
See cta-observatory/image-extractor/issues/15.

[2018-09-20 21:50] aribrill opened #60 "Map images from all IACT observatories"
ImageMapper should include a mapping table for at least the following telescopes, in addition to the ones already implemented. This could be done working with people from the relevant observatories. FACT and H.E.S.S. are included in [ctapipe](https://github.com/cta-observatory/ctapipe-extra/tree/master/ctapipe_resources), though I don't see a camera geometry file for MAGIC.

- [x] FACT
- [x] HESS-

[2018-09-20 22:06] aribrill opened #61 "Clarify training terminology"
As noted in #50, the config option Training:num_epochs really refers to the number of intervals between validating on the validation set, not the number of time to run over the entire training set (as the word epochs usually means). Clarify this by changing the name of the config option and/or adding an explanatory comment. Also, the logging output of run_model.py refers to epochs and this should

[2018-09-21 14:50] Jsevillamol commented on #53
@aribrill these correspond to peak times enabled. It seems that the additional channel does not enable any kind of improvement

[2018-09-21 15:31] Jsevillamol opened #62 "[DRAFT] Feeding output of LSTM to FCL"

[2018-09-21 15:41] Jsevillamol opened #63 "Implement only peak_times channel mode"
Results running the benchmark with `peak_times` enabled were quite similar to when we were not using this feature. This would allow us to check if this adds any relevant information to the classification.

[2018-09-21 15:57] bryankim96 commented on #41
I think it is safe to hardcode prefetch. Also agree that the map option should be removed. Another thing to be examined is the duplication of shuffling in the data loading and the tf.Datasets.

[2018-09-21 16:01] Jsevillamol commented on #38
Some ideas for tests of ImageMapper

'''
def test_image_mapping_one_channel():
    img_mapper = ImageMapper()

    for tel in img_mapper.num_pixels:
        num_pixels = img_mapper.num_pixels[tel] + 1
        in_ = np.random.rand(num_pixels, 1)
        out = img_mapper.map_image(in_, tel)

        assert out.shape[0:2] == img_mapper.image_shapes[tel]
        assert out.shape[2] == 1

def test_imag

[2018-09-21 16:11] qi-feng commented on #38
This sounds good. I can make relevant changes in the rest of this piece of code. Relevant config should also be passed and read.

[2018-09-21 16:15] aribrill commented on #63
See #53 for the benchmark results with peak times enabled.

[2018-09-21 16:16] #53 closed

[2018-09-21 19:37] aribrill commented on #51
Differences of 1% could be significant. To identify the cause, the next step should be to rerun the benchmarks with settings to eliminate any stochasticity: turn off shuffling of the TensorFlow dataset and use a specified seed to initialize the network. If significant differences are still observed, there could be a problem, otherwise it's just normal variance.

[2018-09-25 07:30] Jsevillamol commented on #61
Solved in ab2bb65537996c384189aa8ea93d5cbac37e4a8c .

I have opted in the end to change `num_epochs` to `num_validations` and modify the comments where appropriate. After that change I did not feel like the change of `num_steps_per_validation` to `num_steps_between_validations` was needed.

For me it looks clear now, but if anybody feels like the terminology is still confusing please leave a comme

[2018-09-25 07:30] #61 closed

[2018-09-25 07:41] Jsevillamol commented on #57
- [ ] Refactor `DataLoader._load_metadata()`
- [ ] Remove minmax calculation when not needed
- [ ] Make names consistent

[2018-09-25 13:57] Jsevillamol opened #64 "Computing `max_coordinates`"
In `DataLoader._load_metadata()` we find the following snippet:

            # Compute max x, y, z telescope coordinates for normalization
            max_tel_x = max(row['tel_x'] for row in f.root.Array_Info.iterrows())
            max_tel_y = max(row['tel_y'] for row in f.root.Array_Info.iterrows())
            max_tel_z = max(row['tel_z'] for row in f.root.Array_Info.iterrows())

            se

[2018-09-25 20:41] #64 closed

[2018-09-26 15:20] nietootein commented on #58
It would be desirable to gain insight into how the signal efficiency evolves with energy, since it may help us optimizing the classification thresholds as a function of an event's estimated energy. Even if our estimated energy will suffer from resolution and bias effects, if the classification threshold that optimizes the signal efficiency for a given energy does not substantially change in the vi

[2018-09-26 15:41] bryankim96 commented on #57
The main issue I can see with that idea is that if we want the user to be able to make full use all of the constructor arguments/settings of DataProcessor, but instantiation of a DataProcessor is always done in a DataLoader, we have to pass all DataProcessor settings through the DataLoader constructor, which seems clunky and redundant. Unless there's a better approach I'm missing?

[2018-09-26 16:37] bryankim96 commented on #57
That seems like the right idea. It is good to keep the interface of DataProcessor as generic as possible to, for example, allow it to be used without DataLoader (i.e. by passing in pre-computed normalization statistics which you already have for your data).

[2018-09-26 16:41] Jsevillamol commented on #57
Why are we computing the image max charges at all?
Shouldn't we just get rid of that?

[2018-09-26 19:19] Jsevillamol commented on #57
@bryankim96 that is what I've come to realize would be the logical way of setting up things - I was confused about the flow of things when I wrote my initial response. I have submitted a commit 1bac6dcb0f2a585a80672fb390ab77f7213a50e1 with the proposed change if you want to take a look.

[2018-09-26 19:20] Jsevillamol commented on #57
Re: max charges. I we see a potential use let's leave it for now, and maybe later implement the under demand statistics you propose.

[2018-09-27 14:06] aribrill commented on #58
Right now there's no easy way to get the MC energy of a given event. I think the natural way to do it is to include the MC energy in the auxiliary info returned by DataLoader.get_example() in array mode. What auxiliary info to include can be a config option.

[2018-09-27 14:38] Jsevillamol opened #66 "Redo benchmark with peak_times activated"
I think that I messed up and forgot to update the ctlearn repository before running the benchmark, which explains the mysteriously similar results.

[2018-09-29 17:05] TjarkMiener commented on #60
**Comment referring to the implementation of the MAGIC camera:**

Last week @nietootein and me was working on the implementation of the MAGIC camera. We faced a few problem, which i will described in the following. Lab (MAGICian, who attended CTLearn calls in the past) provided us with a file containing the pixel position for each index and the configuration information. To sum it up, the MAGIC ca

[2018-09-29 17:12] TjarkMiener opened #67 "Implementation of regression for energy and direction estimation"
For a better IACT event reconstruction, it is necessary to implement regression for energy and direction estimation in CTLearn.

[2018-09-29 17:17] TjarkMiener opened #68 "Bug in test_image_mapper.ipynb + Adding indices to pixels"
1. Dimension bug in the notebook `test_image_mapper.ipynb`.
2. Adding the indices to each pixels. Adding the names of the telescope as titles.

[2018-09-29 18:02] qi-feng commented on #60
You can create a rotate_MAGIC_cam function just like the rotate_cam method in ImageMapper class.
    def rotate_cam(self, pos):
        rotation_matrix = np.matrix([[0.98198181, 0.18897548],
                             [-0.18897548, 0.98198181]], dtype=float)
        pos_rotated = np.squeeze(np.asarray(np.dot(rotation_matrix, pos)))
        return pos_rotated

Note that you need to change the mat

[2018-10-02 15:56] TjarkMiener commented on #60
We implemented the FACT camera. Currently waiting for a confirmation of a FACT member.
![fact_camera](https://user-images.githubusercontent.com/37835610/46360665-356e7880-c66c-11e8-9816-2bba5b981a0a.png)

[2018-10-02 16:32] TjarkMiener commented on #68
Done.

[2018-10-02 16:32] #68 closed

[2018-10-05 13:41] #60 closed

[2018-10-07 07:15] Jsevillamol opened #70 "Add example configuration using `variable input model`"
I have had trouble getting the `variable input model` to execute. In the current repository, we have examples of `single tel` and `cnn_rnn` config files ready for execution, but none for `variable_input_model`.

I would like to have one as a reference for testing.

[2018-10-08 20:37] aribrill commented on #70
The attached config file works to train `variable_input_model` using the CTLearn version in master. The settings are those in the example config file.
[variable_input_config.yml.txt](https://github.com/ctlearn-project/ctlearn/files/2457730/variable_input_config.yml.txt)

[2018-10-09 11:40] #48 closed

[2018-10-13 10:55] Jsevillamol commented on #57
@aribrill can you take care of implementing the changes remaining in this issue (about #54 terminology) when you implement #54 ?

[2018-10-13 16:12] aribrill commented on #57
Yes, can do. I've reassigned the remaining part of the issue to myself.

[2018-10-14 08:11] #70 closed

[2018-10-24 15:10] Jsevillamol opened #73 "Function that takes a loading configuration and returns a dataloader"
Possible improvement suggested by @aribrill in pull request #71

[2018-10-24 15:57] aribrill commented on #57
Also pending #54, change the the structure of the field `num_images_after_cuts_by_class_name` to support multiple telescopes and rename it to `num_images_after_cuts_by_tel_and_class_name`.

[2018-10-27 17:40] Jsevillamol opened #76 "Understanding the CNN-RNN model"
I am trying to understand how the current cnn-rnn model processes stuff.

If I am understanding correctly, to the model three sets of features arrives:

* A list of images, each of which could either be true images from triggered telescopes or zero arrays as padding
* A list of numbers indicating which images are from triggered telescopes
* An auxiliary input which is discarded

Those three parame

[2018-10-27 19:19] bryankim96 commented on #76
I think your understanding is mostly right, with some minor clarifications:

Yup, this a binary vector which indicates which images (telescopes) in the batch are real (triggered) and not padded. It has a 1 in the position of each triggered image and 0 for each padded image, but it is not used directly in the cnn-rnn model (only to calculate sequence_length), because we already sort the sequence of

[2018-10-27 20:30] Jsevillamol commented on #76
@bryankim96 I notice I am confused. How does the dynamic_rnn know which images are padding and which are real? After going through the CNN, the bias terms makes it so the padding images turn into things that are not necessarily null vectors.

[2018-10-27 20:44] bryankim96 commented on #76
The dynamic_rnn assumes that the real inputs are at the front and any padding is at the end (this is why we had to sort the images by trigger). For example, if num_telescopes is 10 but for a particular example sequence_length is 5 (imagine the batch size is 1), the LSTM layer will receive an array 'inputs' of shape [1, 10, num_units_embedding]. It will treat inputs[: , :5, :] as real images and ig

[2018-10-29 13:07] #43 closed

[2018-10-29 17:55] #54 closed

[2018-10-29 17:55] #57 closed

[2018-10-31 18:44] Jsevillamol opened #79 "Stuck running multiple configuration file"
Anybody know what causes this error in the current master commit?

[code]

I was using this multiple configuration file:
[code]

[2018-10-31 20:18] bryankim96 commented on #79
I think sort_images_by was renamed to sorting or something like that. It
looks like maybe this config file wasn't updated to match.

On Wed, Oct 31, 2018, 12:01 PM Jaime Sevilla <notifications@github.com
wrote:

[2018-10-31 21:40] aribrill commented on #79
Yes, sort_images_by was renamed to sorting among other changes in the Data:Loading section to handle multiple telescopes. See the latest version of the example config file.

[2018-11-01 10:05] Jsevillamol opened #80 "Update multiple_runs part of example_config.yaml"
To reflect recent changes

[2018-11-01 10:06] Jsevillamol opened #81 "Update cnn_rnn model to load data from multiple telescopes"
In the current commit the cnn_rnn model is not usable ('telescope_data' is no longer among the features and causes a KeyError).

[2018-11-01 10:30] Jsevillamol commented on #79
The multiple configuration section of the example_config file is outdated, I have opened #80 to reflect that.

Also the cnn_rnn model does not work, I have opened #81 to keep track of that.

[2018-11-01 10:30] #79 closed

[2018-11-01 13:38] aribrill commented on #81
It does work if you set merge_tel_types to True, which has the (side) effect of renaming the data array to telescope_data for compatibility. However, this is a convoluted way to do it and is not very clear. I've renamed the name of this issue to reflect the underlying cause.

[2018-11-01 13:41] aribrill commented on #81
This is a separate issue from updating the model to load data from multiple telescopes. In that case the data arrays are named <tel_type>_data, <tel_type>_triggers, etc. with merge_tel_types==False. If the data are of different tel_types, in general you have to treat them differently because they have different shapes.

[2018-11-01 20:19] bryankim96 commented on #81
I made the exact same mistake when testing my changes (not setting merge_tel_types=True when using a default model). The error message made it reasonably clear what was happening, but maybe we could consider simplifying things in the example config file? For example, we could make merge_tel_types=True by default in the example config, as it only includes one telescope anyways? Or maybe it should a

[2018-11-01 20:24] aribrill opened #82 "Define API for DataLoader output"
With the addition of multiple telescope/camera types and need to include more types of auxiliary information, the API for DataLoader should be more explicitly defined. There are three kinds of image data to return: 1) single telescope, 2) array of one telescope type with triggers, and 3) array of multiple telescope types with triggers. The practical difference between case 2 and case 3 just using

[2018-11-01 20:29] aribrill commented on #82
I propose we discuss and work on this during/after next week's workshop.

[2018-11-02 00:01] #59 closed

[2018-11-02 20:54] qi-feng commented on #66
This looks like a typical large learning rate. May want to try with a smaller learning rate.

[2018-11-17 11:27] Jsevillamol opened #83 "Log both to console and to file by default"
It felt really painful when I realized that I had forgotten to activate the log_to_dir option after 7 h of training.

Why are we not creating the log always?

[2018-11-19 15:47] aribrill commented on #83
Sorry about that. I agree that the default behavior ought to be to both print to console and log to file. There could be a flag to disable console output, but a log should always be produced. Logging to console should be part of the default so that the default behavior produces output to show something is happening. A technical difficulty might be setting the logging output filestream to two locat

[2019-01-16 15:22] TjarkMiener opened #84 "Version 0.2.0 benchmarks can not reproduced with current master using standard config file"
I had problems reproducing the benchmarks (version 0.2.0; single tel LST) with the current master using a standard config file (see above). Bryan runs into the same problem on shevek. The run finish after ~20 mins/15000 step with accuracy (LST single_tel): INFO:tensorflow:Saving dict for global step 14955: accuracy = 0.59607786, accuracy_gamma = 0.3556767, accuracy_proton = 0.78488666, auc = 0.599

[2019-01-16 16:19] aribrill commented on #84
Looks like the run is terminating before the full number of training steps is completed. It should end after 2500 x 15 = 37500 steps. I confirmed this was the case for the v0.2.0 benchmark runs. Here there are only 14955 steps. Tjark, Bryan, do you both get this same number? Does each epoch have 14955 / 15 = 997 steps, or does the run end during epoch 6 at 11964 steps?

[2019-01-16 16:42] TjarkMiener commented on #84
Bryan texted me "At step ~15000 I got identical results to you". Did the run finished after ~15000 steps? I got 14955 / 15 = 997 steps per epoch.

[2019-01-21 16:04] bryankim96 commented on #84
Yes, I got the same. I used the same random seed, the results were completely identical

[2019-01-21 18:30] TjarkMiener opened #85 "Normalization of mapping tables"
The normalization in image mapper isn't working properly. The core problem is the following:
1. Firstly each mapping table is normalized by `normalization(self, mapping_matrix3d, num_pixels)`. For example for the mapping table of the one camera pixel in the figure, the weights of the output grid points (red and green and from more Delaunay triangulation around the pixel) are normalized.
2. Then, t

[2019-01-30 13:59] TjarkMiener commented on #84
This commit https://github.com/ctlearn-project/ctlearn/commit/4f6946b406ae9678c605ebf9577a1f82afde7182 breaks it.

[2019-02-01 11:58] TjarkMiener commented on #85
I added an optional argument in image_mapper for mask interpolation in commit e1639c1017146139a311e5a0b644a2c3816cc992

[2019-02-01 14:34] aribrill commented on #85
When the argument for mask interpolation is set to True, does this issue still persist? If so, I think this issue should be reopened. If I understand correctly, the point of mask interpolation is to prevent contamination from zero padding which causes a border artifact, so it should be set to True by default.

[2019-02-01 15:01] TjarkMiener commented on #85
Yes! When mask interpolation is True it's still persist. However, I think this is an issue that occur by construction and can't be avoided.

[2019-02-15 08:26] nietootein opened #87 "Add contributing guidelines"
The OpenAstronomy team draw our attention to the lack of guidelines for potential contributors (see
[here](https://github.com/OpenAstronomy/openastronomy.github.io/pull/208)). This could be solved by pushing a CONTRIBUTING.md file to the repository.

[2019-02-15 14:48] bryankim96 commented on #87
I feel that ctapipe probably offers a good example that we can follow in terms of contributing/development guidelines. Maybe we could base our contributing guidelines loosely on their guidelines here:

https://cta-observatory.github.io/ctapipe/development/index.html

[2019-02-21 16:15] aribrill commented on #82
This issue is currently being worked on by developing a reader in [Dl1DataHandler](https://github.com/cta-observatory/dl1-data-handler) and once it's ready, migrating to it.

[2019-02-22 10:53] TjarkMiener opened #88 "Hexagonal convolution"
There are mainly two ways of dealing with raw IACT images captured by cameras made of hexagonal lattices of photo-multipliers. You can either transform the hexagonal camera pixels to square image pixels https://github.com/ctlearn-project/ctlearn/issues/56 or you can modify your convolution and pooling methods. There are different packages like [IndexedConv](https://github.com/IndexedConv/IndexedCo

[2019-02-25 10:26] nietootein opened #89 "Implement model optimization"
Model optimization needs to be implemented.

A skeleton for a possible iterative workflow that will pursue model optimization would look like this:

1. Define a first model into an initial configuration file.
2. Train the model and evaluate the metric to be optimized.
3. Modify the model trained in step 2 and run step 2 again.

Point 3 could be executed by a script capable of writing, for a given

[2019-02-25 13:44] aribrill commented on #89
The script [run_multiple_configurations.py](https://github.com/ctlearn-project/ctlearn/blob/master/scripts/run_multiple_configurations.py) is available for grid search or random search, but it doesn't have any optimization features.

[2019-02-25 13:53] nietootein commented on #89
Thanks, Ari. An idea would be to have a new script to handle the optimization procedure, having grid/random search as an option, but also including the training of a bunch of pre-defined configurations, in a sense including the functionality of  [run_multiple_configurations.py](https://github.com/ctlearn-project/ctlearn/blob/master/scripts/run_multiple_configurations.py) in it. How does that sound

[2019-02-25 14:45] aribrill commented on #89
Yes, that makes sense. To clarify, run_multiple_configurations can handle both the cases of grid/random search and training pre-defined configurations. However, it has no automatic optimization capabilities, that is, to optimize each set of runs you have to manually look at the output metrics from the previous runs and re-tune the search parameters, iteratively.

[2019-03-01 08:42] JaiKotia commented on #67
@aribrill @TjarkMiener Hey what is the status on this issue? I see the data pipelining is being worked on through an API for DataLoader output. I was interested in taking up this project for GSoC 2019. Let me know if I could start contributing to the project. Also I couldn't find you guys on the Astropy slack channel.

[2019-03-02 18:42] shikharras commented on #88
Hi! I would like to learn more about and pick up this issue on hexagonal convolutions. I have worked with Tensorflow and Keras before. How can I begin contributing to this project?

Thanks!

[2019-03-03 04:20] irahulcse opened #91 "Regarding the Installation"
After cloning and installing the Anaconda, I am not able to run the command like `conda env create -f </installation/path>/ctlearn/environment-<MODE>.yml`
It is showing me the error? Pls have a look to it.
![screenshot from 2019-03-03 09-48-26](https://user-images.githubusercontent.com/34218254/53690929-d12a1f00-3d99-11e9-9d1c-a7f4f4aa42bc.png)

[2019-03-03 22:53] ShreyanshTripathi commented on #88
Hello, I am interested in this project. I have previous experience working with convolution. Please guide me for a good entry point to contribute to this project.

[2019-03-04 15:25] aribrill commented on #91
This error message means the environment file doesn't exist / wasn't found (see [here](https://github.com/conda/conda/issues/5681)). Try double checking that the path is right.

[2019-03-05 08:32] TjarkMiener commented on #91
I see you are in your Downloads folder. If you have downloaded the zip, you need to unzip and change .../ctlearn/... to .../ctlearn-master/... in your path! However, I would recommend you to clone the repo.

[2019-03-06 16:45] parthpm commented on #88
I am interested in this project. How can I get started?

[2019-03-10 16:01] TjarkMiener commented on #67
We decided to implement the regression tasks using the approach of [Multi-Task Learning](http://ruder.io/multi-task/). A good start for all interested student would be to study this approach in detail and get familiar with the CTLearn models.

[2019-03-11 13:37] nietootein commented on #88
Hi @shikharras, @parthpm, @ShreyanshTripathi! Many thanks for you interest in CTLearn and this issue in particular. Our recommendation would be to get to know our code by installing CTLearn on your system and read through it and, if you are already familiar with convolutional neural networks, check out the couple of packages @TjarkMiener recommends above.

[2019-03-11 19:17] gremlin97 commented on #88
Hello, I am interested to work on this project. I have prior experience in deep learning and  would like to start contributing to this issue.

[2019-03-12 14:14] TjarkMiener opened #92 "Input images for hexagonal convolution"
In order to apply hexagonal convolution #88, we have to pre-process our images. The common approaches to get the input images are _image shifting_ (used by [HexagDLy](https://github.com/ai4iacts/hexagdly)) and _axial addressing_ (used by [IndexedConv](https://github.com/IndexedConv/IndexedConv)). These two approaches should be added to the ImageMapper as new "hex_conversion_methods".

[2019-03-13 18:08] parthpm commented on #67
I am interested in this project and gone through the above link.

[2019-03-14 19:14] #51 closed

[2019-03-14 19:23] aribrill commented on #56
@TjarkMiener Since there's no reason to expect that Gaussian sampling would give improved performance relative to the other methods I think it's reasonable to not implement it. Do you agree? If so we can mark this issue as resolved by #72.

[2019-03-14 19:26] #76 closed

[2019-03-14 19:29] aribrill commented on #87
Closed by #90.

[2019-03-14 19:29] #87 closed

[2019-03-14 19:50] aribrill commented on #91
@irahulcse I will close this issue now, but feel free to re-open it if you still have problems installing the code.

[2019-03-14 19:50] #91 closed

[2019-03-15 10:10] #56 closed

[2019-03-15 13:06] TjarkMiener commented on #35
@nietootein Did you thought of a comment or an argument for the code version in the configuration file?

[2019-03-15 20:42] kaiyon07 commented on #67
Hello Sir, I am interested in taking this project for GSOC-2019 and I have also completed reading about Multi-Task Learning. I also have deep learning background and very motivated about this project, kindly guide me through.
Thanks In Advance

[2019-03-18 15:05] #92 closed

[2019-03-19 10:14] TjarkMiener commented on #88
Dear @shikharras @ShreyanshTripathi @parthpm @gremlin97,
I have pushed the code (PR #92) that will create the input images for the two hexagonal convolution packages above. The first step to contribute to this issue would be to understand the changes of #92 and write your own script to test the code! Therefore, you should import image_mapping.py and load various ImageMappers with different argumen

[2019-03-19 12:24] parthpm commented on #67
What's the next task after going through the above link?

[2019-03-20 05:41] HariharasudhanAS commented on #89
Hi @nietootein @aribrill,
I came across this project in your GSoC page and would like to work on it. Can you guys please guide me on where to start?

[2019-03-20 09:25] juan-redondo commented on #89
Hello, I am interested in taking up this project for GSOC-2019 and I have already started  working on it.

[2019-03-20 17:58] ishaanchandratreya commented on #89
Hello, I am a first year student in Columbia Engineering and would love to work on this project through GSOC 2019 and beyond. I would love to get in touch with the mentors and discuss my ideas. I am currently doing research at the intersection of deep learning and physics and have taken some physics classes, so the applicability of this project really motivates me! I look forward to learning more

[2019-03-21 14:06] shikharras commented on #88
Hello @TjarkMiener, I noticed that in the 'image shifting' section in the 'image_mapping.py', we have shifted the alternate columns by 1 without checking if they are in the required form as shown here:
[https://github.com/ai4iacts/hexagdly/blob/master/notebooks/how_to_apply_adressing_scheme.ipynb](url)
![download](https://user-images.githubusercontent.com/24702560/54757591-8a00b280-4c10-11e9-9881-

[2019-03-21 14:10] nietootein opened #96 "Enable ROOT input"
So far, CTLearn takes data in [HDF5](https://www.hdfgroup.org/solutions/hdf5/) format as input. However, most of the data from IACTs currently in operation come in [ROOT](https://root.cern.ch/) format. Enabling ROOT input in CTLearn will open its doors to existing IACT facilities.

An interesting ROOT I/O solution implemented using python and numpy (i.e. no need to use ROOT itself) is the [uproot]

[2019-03-21 17:24] johnkimdinh commented on #96
Hi, you can follow here an example of converting MAGIC (existing IACT) from root to HDF5: https://github.com/cta-observatory/cta-lstchain/tree/master/lstchain/magic-lst

It was done using pyroot (IMHO less elegant than uproot) but there are plans to rewrite code using uproot.

[2019-03-21 18:19] bryankim96 opened #97 "Implement 3D Reconstruction"
See here for a general description of the corresponding Google Summer of Code (GSoC) project created through OpenAstronomy: [here](https://openastronomy.org/gsoc/gsoc2019/#/projects?project=3d_reconstruction%2Fconvolutional_neural_networks)

This issue is for discussing the development/implementation of the features described in the project. The project as described above will probably include the

[2019-03-21 18:39] nicolamarinello commented on #96
Hi all, I'm a master student at the University of Padova doing my last year on Telecommunications Engineering. I've been working on my master thesis on LST images analysis with CNNs for event reconstruction. So far I've used the DL1_ML1 machine learning dataset in HDF5 file format available in the [CTA internal wiki](https://forge.in2p3.fr/projects/machine-learning-for-event-reconstruction/wiki) a

[2019-03-22 09:51] nietootein commented on #96
Thanks for the pointer, @johnkimdinh! Ideally, we'd like to avoid adding pyroot as a dependency and implement this new feature by means of uproot instead. Good to know that there are plans to rewrite what's already in place using uproot!

Ciao, @nicolamarinello! Happy to hear that you'd be interested in contributing to this project, moreover if you have previous experience with CTA data and with C

[2019-03-22 21:41] TjarkMiener commented on #88
That's a good point you are raising, @shikharras! We are reading the pixel positions of the IACTs from the fits file in "ctlearn/ctlearn/pixel_pos_files/", which originate from [ctapipe-extra](https://github.com/cta-observatory/ctapipe-extra). These fits files also contain rotation information. While reading the pixel positions into CTLearn, we already make sure to perform the right rotation and t

[2019-03-24 10:50] orionpax00 commented on #97
Hi @AriBrill and @bryankim96, I would love to contribute to this issue.

After going through the [Idea](https://openastronomy.org/gsoc/gsoc2019/#/projects?project=3d_reconstruction%2Fconvolutional_neural_networks) page, I started searching for 3D Reconstruction algorithm and end up with a research paper describing some of the reconstruction method (you can find it [here](https://arxiv.org/pdf/1506

[2019-03-24 12:55] shikharras commented on #88
Thanks for your response @TjarkMiener! I have written a script similar to 'test_image_mapper.ipynb' for the hdf5 file of magic events using the `tables` library in Python which displays the 10 images with different mapper parameters.

However, in the beginning, I was trying to use the HDF5DataLoader function from ctlearn.data_loading and that threw an error while accessing the `Array_Info` group a

[2019-03-24 16:09] ABHIJIT-13 commented on #67
hello, I am interested in contributing to the project regression under gsoc 2019. I have gone through the above link. Could you please guide me towards the next task.
I am very much interested in this project and I believe my skill set matches the required ones.
I was unable to get in contact with the mentors as the no one in the gitter lobby knows the slackroom for the above project.
Any help wou

[2019-03-24 16:10] ABHIJIT-13 commented on #82
hello, I am interested in contributing to the project regression under gsoc 2019.
I am very much interested in this project and I believe my skill set matches the required ones.
I was unable to get in contact with the mentors as the no one in the gitter lobby knows the slackroom for the above project.
Any help would be appreciated.
Thank you

[2019-03-24 19:46] qi-feng commented on #97
@orionpax00 Hi and thanks for your interest.
If you search in the paper you found, you an see VERITAS mentioned in there. It's an array of telescopes: https://veritas.sao.arizona.edu
One paper on 3D reconstruction is http://hal.in2p3.fr/in2p3-00127358/document

[2019-03-24 20:22] h3li05369 commented on #88
@TjarkMiener As per your suggestion, I wrote a script to test the images of [magic events](https://github.com/cta-observatory/cta-lstchain/blob/master/lstchain/magic-lst/M1_magic_data.h5). In  that, I selected an image charge value and plotted it before pre-processing with image_shifting algorithm.
**Raw image before image-shifting**
<img width="331" alt="Screenshot 2019-03-25 at 12 24 53 AM" src=

[2019-03-25 06:51] orionpax00 commented on #97
Thanks @qi-feng,
I'll try to implement the method and soon share the results.

[2019-03-25 14:30] TjarkMiener commented on #88
Great that you were able to display the magic events, @shikharras and @h3li05369!

@shikharras Using the `tables` library is even better than my suggestion and closer to the CTLearn framework! It's also good that you are familiar with the functionality of the tool and try to solve this problem using CTLearn. Unfortunately, our data format, which is created through [DL1 Data-handler](https://github

[2019-03-25 17:15] h3li05369 commented on #88
@TjarkMiener The four plots are the hexagonal convolution outputs of the image with different stride sizes after making the image compatible with the required format for hexagonal convolution(implemented in hexagdly). Please have a look at the Jupyter notebook [here](
https://github.com/h3li05369/ctlearn/blob/master/notebooks/image_shifting_testing.ipynb)

Having gained substantial understanding o

[2019-03-25 18:34] nicolamarinello commented on #96
Ciao @nietootein, thank you for the tips!
I've been looking for a while the repos structure. I see that a reader is currently implemented in CTLearn. What you should make clear is: do you want to get rid of the reader currently implemented  in CTLearn integrating DL1-data-handler and make the latter able to manage also ROOT files, either you want to implement a ROOT reader inside CTLearn? I would

[2019-03-25 18:58] h3li05369 commented on #88
@TjarkMiener
      After pre-processing the image with image_shifting addressing scheme(which was recently integrated into ctlearn from [hexagldy](
https://github.com/ai4iacts/hexagdly) by @aribrill), it is fed into the Conv2d layer (which is also imported from [hexagdly](
https://github.com/ai4iacts/hexagdly)) for 4 different stride sizes.
<img width="1024" alt="Screenshot 2019-03-25 at 11 55 20

[2019-03-25 20:03] aribrill commented on #96
Hi @nicolamarinello, yes, the former approach is exactly what we'd like to do, for both of the reasons you state.

[2019-03-25 23:31] PanosIs commented on #97
Greetings, travellers

I've been looking through the OpenAstronomy ideas for this year's GSoC and this project piqued my interest in particular. I've read through the paper mentioned above and I can say that I have some grasp of the concepts mentioned (Although the physics still elude me, being a computer sciences student, I'm still willing to learn!). Do you have any pointers about how to proceed

[2019-03-25 23:50] bryankim96 commented on #97
Hi @orionpax00 and @PanosIs,

Thanks for the interest!

I was referring to a memo written for VERITAS a while ago that describes several event reconstruction methods (one of which I thought would be a good starting point for the ray back-propagation approach proposed for this project). Because it's an internal document and not part of a publication, it was suggested to me that I shouldn't post it

[2019-03-26 04:54] orionpax00 commented on #97
Hi @bryankim96,
Thanks for your clarification,
[dkumar@ce.iitr.ac.in](dkumar@ce.iitr.ac.in) is my email id. You can send that memo here.

[2019-03-26 14:27] PanosIs commented on #97
Hello~
My e-mail is panoslantavos@gmail.com, you can send any reference there :)

[2019-03-26 16:23] nicolamarinello commented on #96
Could this be a problem in the application process? As probably most of the final code will be merged into the repo DL1-data-handler and a smaller part in CTLearn.

[2019-03-26 20:07] aribrill commented on #96
DL1DataHandler is associated with CTLearn (the core development team is a collaboration between CTLearn and a similar project using PyTorch, [GammaLearn](https://gitlab.lapp.in2p3.fr/GammaLearn/GammaLearn)), so as far as we're concerned at least, that the code would go in DL1DH is all the same for the project/application process.

[2019-03-27 11:04] mrektor commented on #67
Hi, my name is Ettore Mariotti and I'm a graduating student in Telecommunication Enginnering (A MsC after a bachelor in Information Enginnering).
My recent passion is Machine Learning in general, I've had some experience both in data-scarce (Brain Computer Interfaces problems) and in data-rich situations (IACT MAGIC reconstruction with CNNs).

One of the most interesting aspect in partecipating in

[2019-03-28 15:24] #35 closed

[2019-03-29 15:28] nietootein opened #98 "Update TF version to >= 1.12"
An implementation of the Keras API is available in TensorFlow from version 1.12 (see [here](https://www.tensorflow.org/guide/keras)). It may be useful to update our current TF version to the latest stable release so we can make use of this new feature.

[2019-03-29 18:05] TjarkMiener commented on #88
@h3li05369 Thanks! At the moment there is no need to start converting this package! All interested student should focus on their GSoC application. Don't hesitate to ask for comments and suggestions.

[2019-03-29 18:30] h3li05369 commented on #88
Thank you for replying. It keeps my motivation high 😃.

[2019-03-30 12:20] MoltenMuffins commented on #98
Hello there! I'm looking to contribute to the CTLearn project as part of my application for the project "Hexagonal Convolution" for GSOC. May I work on this issue?

[2019-03-31 16:26] h3li05369 commented on #88
Where can I find the dataset to train the models? The [link](https://forge.in2p3.fr/projects/cta_analysis-and-simulations/wiki/Machine_Learning_for_Event_Reconstruction#Common-datasets) provided in the readme section is asking for authorisation. I need the data to run the model on my system.

[2019-03-31 18:52] TjarkMiener commented on #88
@h3li05369 For the time being, we aren't allow to share CTA private data with you or any non CTA member. We haven't found a solution for this problem yet. A workaround here would be that you fork the CTLearn project, make your changes and then I could set up some runs for you on our gpus. However, for now the application has the highest priority.

[2019-03-31 19:16] TjarkMiener commented on #67
Dear @JaiKotia @parthpm @kaiyon07 @ABHIJIT-13 @mrektor,
@aribrill recently finished his work on the [DL1DH reader](https://github.com/cta-observatory/dl1-data-handler/blob/master/dl1_data_handler/reader.py). The next step for you would be to understand the implementation and get familiar with the usage of the reader. Besides that I found an interesting reference [here](https://towardsdatascience.c

[2019-04-01 13:32] orionpax00 commented on #97
Hello @bryankim96, @aribrill, @qi-feng

I read the memo on Event Reconstruction and Parameterization for VERITAS, especially the 3D reconstruction part. I got the mathematics behind the algorithms but I'm still confused for the input vector and output 3D matrix on computational ground. Like what will be the input for the function.

As far as I got Inputs will be different images captured by differ

[2019-04-01 23:33] bryankim96 commented on #97
@orionpax00 Yeah, that's correct. The inputs will be telescope images (2D matrix) showing the amount of charge deposited in each camera pixel. The telescope positions can be represented by vectors. In theory you could also have access to the full time-evolution of the camera image (so the pulse shape as a function of time) which would be a 3D matrix.

The output will be a 3D matrix (volume) repres

[2019-04-02 13:47] nietootein commented on #98
Hello @MoltenMuffins!

Thanks for your offer to take over this issue. This is a high priority one we are working on right now, and it's close to be solved.

[2019-04-03 17:04] MoltenMuffins opened #101 "Versioning Enviroment.yml for different OS installations?"
Is the ctlearn-project intended to be cross-platform? If yes, perhaps we could include enviroment.yml files for each OS and cpu/gpu configuration. If not then this is a non-issue.

I installed ctlearn on google colabs to get a sense of the CTLearn package and had no issue while installing. However when I tried to do it on my Windows 10 machine I had to make some tweaks to the enviroment.yml file t

[2019-04-03 17:16] kaiyon07 commented on #67
@TjarkMiener Sir can I have your email id, I wanted my proposal to be reviewed.

[2019-04-03 17:18] MoltenMuffins commented on #101
Nevermind! It has come to my attention that indeed there already is a macos enviroment.yml in the tf-cv-upgrade branch.

[2019-04-03 17:18] #101 closed

[2019-04-03 17:46] TjarkMiener commented on #67
Hi all @JaiKotia @parthpm @kaiyon07 @ABHIJIT-13 @mrektor,
In addition to your application you have to make a PR in CTLearn. This is a rule from GSoC; not from us! This PR don't have to contain any code for now! But any code you wrote is more than welcome and should be included! What have to be included is bascially a summary of your application! So just introduce yourself and sum up the project an

[2019-04-03 17:48] TjarkMiener commented on #88
Hi all @shikharras @ShreyanshTripathi @parthpm @h3li05369 @gremlin97,
In addition to your application you have to make a PR in CTLearn. This is a rule from GSoC; not from us! This PR don't have to contain any code for now! But any code you wrote is more than welcome and should be included! What have to be included is bascially a summary of your application! So just introduce yourself and sum up th

[2019-04-05 20:07] lightningedge007a commented on #96
Hi @aribrill , I am 3rd year, Computer Science, Bachelor of Technology student from Jaypee Institute of Information Technology. I found ROOT Input and Regression projects to be amazing and I want to pick them up for GSOC 2019. Can you please guide me on which one should I draft my proposal according to my skillset:
**SKILLS**
Machine Learning, Deep Learning, Artificial Intelligence, Data Analysis,

[2019-04-05 20:08] lightningedge007a commented on #67
Hi @aribrill , I am 3rd year, Computer Science, Bachelor of Technology student from Jaypee Institute of Information Technology. I found ROOT Input and Regression projects to be amazing and I want to pick them up for GSOC 2019. Can you please guide me on which one should I draft my proposal according to my skillset:
SKILLS
Machine Learning, Deep Learning, Artificial Intelligence, Data Analysis, Dat

[2019-04-06 12:16] lightningedge007a commented on #96
Hi @aribrill @nietootein @qi-feng , I am currently making a proposal on ROOT Input project, how can I contact the mentors for feedback, etc. Any help? And regarding PR, what shall it solve? There weren't any issues on this project in ideas page https://openastronomy.org/gsoc/gsoc2019/#/projects?project=root_input

[2019-04-06 16:39] lightningedge007a commented on #81
Hi @aribrill @qi-feng @nietootein , I am 3rd year, Computer Science, Bachelor of Technology student from Jaypee Institute of Information Technology. I found ROOT Input to be an amazing project and I want to pick it up for GSOC 2019. I am currently exploring the scientific methods, gathering research papers and exploring CTLearn which I will update in my proposal. How can I contact you for feedback

[2019-04-06 18:43] Amanbhandula commented on #97
Hi mentors! @bryankim96 @aribrill @qi-feng I am Aman. I have been in touch with @bryankim96  regarding this project. I am from Planetary Science background and doing my minors in Applied Machine Learning. I am very interested in Astrodynamics and would like to do MS in Astrophysics. I have done some projects related to Planetary science and Deep Learning. Also, I had done an intern, in which I hav

[2019-04-07 06:42] lightningedge007a commented on #96
@nietootein I tried to approach the problem this way:
ROOT -> uproot -> numpy -> h5py -> save to hdf5 format.
I also explored pyroot but understood your reluctance to use it because it is dependent on C++ whereas uproot uses pyhton's numpy and is faster too!

[2019-04-07 10:57] VanshikaMittal07 commented on #96
Hi @aribrill , I am currently in 3rd year, Computer Science, Bachelor of Technology student from JIIT. I find Regression and classification problems amazing. I am interested in exploring more about ctlearn and how it classifies and currently i am working on converting root input data to hdf5 format.

[2019-04-07 18:14] dpshelio opened #106 "Unable to contact via Slack"
A slack team is mentioned on the [Open Astronomy](http://openastronomy.org/members/) page. However, there's no way to generate an auto-invitation for it.

Alternatively, it would be appreciated if some mentor/admin is in the OpenAstronomy room as few students have come asking for help or how to contact someone in the team.

[2019-04-07 18:48] lightningedge007a commented on #106
I would be delighted if I can have a more direct way to contact the mentors. There is a lot I want to discuss on the project ROOT Input and get feedback on my proposal.

[2019-04-07 22:38] TjarkMiener commented on #106
Hey @dpshelio! Thanks for opening this issue to clarify things for the GSoC students! We chose to interact with the GSoC students via our GitHub issues, since this is the main tool Open Astronomy is using for communication. I also posted my email (tmiener@ucm.es) in some GitHub issues, in case the students want to have some feedback for their application draft. This communication way worked out fo

[2019-04-08 00:28] aribrill commented on #106
Thanks @dpshelio. What's the main communication room for OpenAstronomy? Is it the Google group, Slack, or something else?

[2019-04-08 04:17] hrueda25 commented on #88
Hi everybody, I am a graduate in physics from the Complutense University of Madrid.
I am currently studying a master's degree in astrophysics and I am working on hexagonal convolution. I want to contribute to the CTLearn issue under the GSoC project.

[2019-04-08 07:07] Juanlu001 commented on #106
@aribrill (answering for @dpshelio) most students arrive through the [OpenAstronomy chat on Matrix](https://chat.openastronomy.org/#/room/#openastronomy:openastronomy.org).

[2019-04-08 13:48] lightningedge007a commented on #106
@aribrill @qi-feng @rlopezcoto , I have emailed you a draft of my proposal. Please suggest necessary changes so I apply them quickly.
Thank You.

[2019-04-17 19:48] aribrill commented on #80
Closed by cbca73b169bf1e74bbd9efcda3e699b3a27b81d8

[2019-04-17 19:48] #80 closed

[2019-04-26 00:05] aribrill opened #115 "Use DL1DataHandler for data loading"
Replace the classes currently used for data loading (DataLoader, DataProcessor, and ImageMapper) with the updated version in the [DL1DataHandler](https://github.com/cta-observatory/dl1-data-handler) package. This package was designed to fix the problems noted in and so resolve #82. It also fixes #46 and closes #73 as no longer needed. This issue involves the follow steps:

- [x] Remove data_loadin

[2019-05-07 20:49] aribrill opened #118 "Define and calculate the loss for multiple labels"
Provide the functionality in the model_fn in run_model.py to calculate the loss when multiple labels are provided. This is a prerequisite for multi-task learning. The method for combining the losses for the different tasks could be configurable. This is best done after #117 is merged.

[2019-05-07 20:52] aribrill commented on #115
I think that calculation of the loss for multiple labels is best handled separately, so I've made another issue for it #118.

[2019-06-18 10:29] Jsevillamol opened #120 "Implement attention model"
In [Keras CTALearn](https://github.com/Jsevillamol/ctalearn) we have implemented an attention model with pretty good results, would be good to have it in CTLearn Classic as well.

[2019-06-23 17:59] #40 closed

[2019-06-23 17:59] #41 closed

[2019-06-23 17:59] #46 closed

[2019-06-23 17:59] #73 closed

[2019-06-23 17:59] #82 closed

[2019-06-23 17:59] #115 closed

[2019-06-23 18:07] aribrill commented on #98
Closed by 60335ad9899741f1045e4ffa8da918d6ef127229

[2019-06-23 18:07] #98 closed

[2019-06-23 18:10] aribrill commented on #44
Superseded by #117, as such a notebook can now be found in [DL1DataHandler](https://github.com/cta-observatory/dl1-data-handler).

[2019-06-23 18:10] #44 closed

[2019-07-04 17:17] riwim opened #122 "libcublas.so ImportError on a Linux gpu environment"
Hi all, I'm currently working on my master thesis on gamma/hadron separation with multiple images from CTA.

Following the install instructions for a gpu environment on a Linux system I had some problems to get a working system.

`python run_model.py my_config.yml --mode train`

fails with an import error:

`ImportError: libcublas.so.10.0: cannot open shared object file: No such file or directory`

[2019-07-05 08:29] nietootein commented on #122
Hi @riwim. Thanks for opening this issue. What you report is a known problem with TF 13.1, as you noticed. A way to get it fixed without upgrading you TF version is to downgrade CUDA from 10.1 to 10.0 on your machine. As of now, we have benchmarked CTLearn with TF 13.1 (i.e. we are sure the code is behaving as expected with that version) and that's why we recommend users to run with that specific

[2019-07-05 08:52] #106 closed

[2019-07-09 15:00] riwim commented on #122
Ok, I see.

I'm trying to get the driver situation clear:
According to
[code]
our Linux x86_64 Tesla system runs the nvidia driver version 396.82 (I can't change this). [Table 1. CUDA Toolkit and Compatible Driver Versions](https://docs.nvidia.com/deploy/cuda-compatibility/index.html#binary-compatibility__table-toolkit-driver) tells me that CUDA 9.2 (9.2.88) is the last version to be compatible wi

[2019-07-09 15:13] nietootein commented on #122
Assuming upgrading the version of the NVidia driver is off the table, an alternative I can see is that you install CTLearn 0.3.0 and run some benchmarking using TF 1.14 instead of TF 1.13. If there were no breaking changes to the API in TF 1.14 you should be able to train the benchmark models and compare their performances to see if they match the 0.3.0 benchmarks run with TF 1.13. I should warn y

[2019-07-11 12:34] TjarkMiener opened #123 "Random predictions when path to checkpoints not found"
When you run in predict mode and the path of your checkpoints not exist, CTLearn will predict randomly. It should break and tell the user that the checkpoints are not found.

[2019-07-22 18:23] aribrill commented on #45
This is now obsolete, as cleaning and cropping will be done using DL1DH.

[2019-07-22 18:23] #45 closed

[2019-10-14 15:22] TjarkMiener opened #124 "Implementation of multitask models"
Once Multitask Learning is implemented (see #67), it would be good to add different multitask models (eg. gammaPhysNet and gammaPhysNet2 by M. Jacquemont, etc.).

[2020-01-06 02:56] archisha-chandel commented on #88
Hi, I am interested in this project and I am a Computer Science student. Can someone help me get started with making contributions to this project?

[2020-01-06 03:03] archisha-chandel commented on #67
Hi, I am interested in this project and I am a Computer Science student. I see that somethings have been done earlier in this particular issue. It would be really helpful if someone could guide me to get started with making contributions to this project?

[2020-01-29 20:24] jonpsy opened #125 "Error in pip install --upgrade ."
Hey there,
I'm kinda newbie here so sorry if the issue is misplaced or in the wrong sub. I faced error when trying to setup dl1-data-handler as per the method mentioned in the README.

I already had tensorflow_gpu installed in an environment so I went ahead and just git cloned dl1-data-handler, then I went into the folder and ran pip install --upgrade .
I got this error

![Screenshot from 2020-01-

[2020-01-29 20:42] TjarkMiener commented on #125
Hi @NanuSai! Thanks for opening this issue. The installation via pip and conda is not working at the moment. We should probably update our README. Sorry about that. Please follow the installation instruction in the dl1-data-handler repo and install ctapipe and the dl1-data-handler from source via `python setup.py install`.

[2020-02-04 13:11] NanuSai commented on #125
If it's not a problem, may I update the README.md notifying this issue?

[2020-02-19 11:39] TjarkMiener opened #126 "Cnn_rnn model is crashing in the current multitask branch"
Hi Ari,
following up on the discussion we had during our last CTLearn call about the crash with the cnn_rnn model, I'm getting this dimension error `ValueError: Dimension must be 4 but is 5 for 'transpose' (op: 'Transpose') with input shapes: [?,114,114,1], [5]`.

tf.transpose is causing this crash in cnn_rnn.py:
[code]
Was there a change in the DL1Reader ('stereo' mode) that could cause this dime

[2020-02-23 05:23] bolt25 commented on #89
Hello everyone, I'm a third year undergrad from India and I would like to contribute to this project and at the same time apply for GSoC 2020. It would be really helpful if any mentors out there could help me get started.

[2020-02-23 17:48] TjarkMiener commented on #89
Hi @bolt25! We are only participating with the [root project](https://openastronomy.org/gsoc/gsoc2020/#/projects?project=root_input) for GSoC 2020. In case you want to have a look at the outcome of this GSoC 2019 project, you can find it [here](https://github.com/ctlearn-project/ctlearn_optimizer/). @nietootein, can we close this issue?

[2020-02-24 11:42] TjarkMiener commented on #126
The crash occur, when selecting the cnnrnn model and 'mono' mode in the DL1Reader. The 'stereo' mode should be selected with the cnnrnn model. We could add some checks so that CTLearn is crashing with clear error messages, when the configurations are not valid.

[2020-03-04 13:50] TjarkMiener opened #127 "Migrate to TensorFlow 2.X"
I was trying to update the CTLearn 'multitask' branch to TensorFlow 2.X and I faced some difficulties/concerns about the HeadAPI and Graph structure with Estimators, which I wanted to discuss. I pushed some (unfinished) code in the 'tf2' branch here in CTLearn. So far, I focused on the single_tel model. The code starts training (with reasonable loss values), but don't increase the steps (-> train

[2020-03-11 09:52] sahilyadav27 commented on #122
Hey,
I also faced the same issue with the libculas file while trying to get familiar with CTLearn for GSoC 2020. After upgrading to tensorflow 1.14 and running a model gives the error of
 _module 'dl1_data_handler.transforms' has no attribute 'ConvertShowerPrimaryIDToClassLabel'_
Any idea?

[2020-03-11 10:34] TjarkMiener commented on #122
Hi @sahilyadav27. We recently renamed the transformation in dl1-data-handler. Depending on the versions, you should either use `ShowerPrimaryIDToParticleType` or `ConvertShowerPrimaryIDToClassLabel` in the config file.

[2020-03-11 17:22] ayushvpaliwal commented on #123
Hello,
My name is Ayush Paliwal, a sophomore student at Indian Institute Of Technology, IIT(BHU), Varanasi. I am an open-source enthusiast, and Astronomy is my passion. I am particularly interested in this project. I would love to contribute to this project during GSOC 2020 and further and learn a bunch of things on the way.
Here, I would like to share my views on this issue.

[2020-03-11 17:24] ayushvpaliwal commented on #123
Sometimes the path of the checkpoint doesn't exist, or the size of a variable in model changes or we add or remove a variable, the Estimator cannot load an existing checkpoint any more. Then evolution runs with newly initialized Variables instead of ones restored from checkpoint and results in random predictions.

Possible solution is that (1). Be able to load an existing checkpoint from a differe

[2020-03-12 15:44] TjarkMiener commented on #123
Hi @ayushvpaliwal, Thanks for your input on this issue!
I solved that issue in [71299f3](https://github.com/ctlearn-project/ctlearn/commit/71299f3cc0ed11973bce201a56dc316345cee0d5). Does this makes sense to you? If we run ctlearn in 'predict' mode and we can't find the model_dir the code should crash. We will be merging this branch to the master soon.

For clarification: When we run ctlearn in 'tr

[2020-04-30 14:08] nikita-0209 commented on #126
Hi. I am a novice. Is this a good issue to begin with?

[2020-07-06 02:33] #125 closed

[2020-07-28 09:38] #122 closed

[2021-03-03 09:48] #67 closed

[2021-03-03 09:48] #123 closed

[2021-03-03 09:48] #124 closed

[2021-03-03 09:59] TjarkMiener commented on #120
Closed by #132.

[2021-03-03 09:59] #120 closed

[2021-03-03 10:00] #63 closed

[2021-03-03 13:36] aribrill commented on #118
Closed by #132.

[2021-03-03 13:36] #118 closed

[2021-12-14 14:44] TjarkMiener commented on #127
Hi @STSpencer! Thanks for reactivating this important issue! Given the fact that most of the newest GPUs do not support CUDA10 we are forced to migrate the keras backend of TF2.X.  This issue is the most pressing one.

[2022-06-28 10:00] TjarkMiener opened #143 "Store keras models in onnx format"
In order to smoothly interface with ctapipe, we should export our models in onnx format.

Useful links:
[https://github.com/cta-observatory/ctapipe/issues/1091](https://github.com/cta-observatory/ctapipe/issues/1091)
[https://github.com/onnx/tensorflow-onnx](https://github.com/onnx/tensorflow-onnx)

[2022-06-29 11:48] nietootein opened #144 "Enable the usage of the focal loss function"
[Focal loss ](https://www.tensorflow.org/addons/api_docs/python/tfa/losses/SigmoidFocalCrossEntropy) may be useful to our classification use case, where there is a significant imbalance between classes. We should try to implement it as a selectable loss function and benchmark its impact on classification.

[2022-07-11 12:39] #127 closed

[2022-07-11 12:47] TjarkMiener commented on #96
[DL1DH](https://github.com/cta-observatory/dl1-data-handler) and [ctapipe-io-magic](https://github.com/cta-observatory/ctapipe_io_magic) support the translation of MAGIC simulation and data files from ROOT to hdf5. Similar efforts are on the way for the other IACTs. Reading directly from the ROOT files into CTLearn is currently not a feature that we would like to support in CTLearn. I'm closing th

[2022-07-11 12:47] #96 closed

[2022-07-11 12:50] TjarkMiener commented on #83
With CTLearn v0.6.X we are storing/plotting the training and validation metrics by default. So I think this issue is solved by the feature.

[2022-07-11 12:50] #83 closed

[2022-07-11 13:04] TjarkMiener opened #145 "Implement GraphNets"
Useful references:
[https://arxiv.org/abs/1806.01261](https://arxiv.org/abs/1806.01261)
[https://github.com/deepmind/graph_nets](https://github.com/deepmind/graph_nets)

[2022-07-13 13:29] nietootein opened #146 "Enable GitHub Actions as default CI"
Migration from Travis CI to GitHub Actions CI

[2022-07-14 09:21] #143 closed

[2022-07-15 23:38] TjarkMiener opened #149 "Conda package for CTLearn"
It seems that there are some improvements in conda-forge to support tensorflow (see [https://anaconda.org/conda-forge/tensorflow](https://anaconda.org/conda-forge/tensorflow)). We should make CTLearn available as a conda package.

[2022-08-30 09:18] nietootein opened #150 "Transfer content from README to Sphinx docs"
Clean up GitHub landing page, moving content to Sphinx docs.

[2022-09-02 08:07] TjarkMiener opened #151 "Enable parametric input for CTLearn models"
Nice approach by [arXiv:1910.09435](https://arxiv.org/pdf/1910.09435.pdf) which includes the hillas parameters in DL models.

- [x] Enable reading of DL1b parameters in DL1DH.
- [ ] Modify CTLearn model to be able to include DL1b parameters whenever the user selects those in the config file at training phase.
- [ ] Implement MLP models for DL1b parameters only (w/o DL1a images).

[2022-09-06 12:26] #150 closed

[2022-09-08 09:56] nietootein opened #155 "Fix hardcoded version before 0.6.2"
The code's version is hardcoded in README.md, .zenodo.json, .codemeta.json, installation.rst. The version has to be harmonized to 0.6.2.

[2022-11-25 09:59] #146 closed